* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(./img/fundo-dola1.jpg);
  background-position: center;
  background-size: cover;
}

header {
  background-color: #51d162;
  height: 66px;
}

.container {
  background-color: #f4f4f4;
  width: 375px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #f4f4f4;
  text-align: center;
  padding: 22px;
}
main {
  padding: 24px;
}
label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
}
select {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}
input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  outline: none;
  padding: 16px;
  font-size: 18px;
}
button {
  background: #51d162;
  border-radius: 25px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  color: #f4f4f4;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: none;
  margin-top: 24px;
  margin-bottom: 36px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}
section {
    border: 1px solid #51d162;
    border-radius: 4px; 
}
.currency-container {
    text-align: center;
    padding: 10px;
}
.currency-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}
.currency-value{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #51d162;
}
.arrow-img {
  display: block;
    margin: 15px auto;
}
